#parent{
    /* position: absolute; */
    /* border: 2px solid; */
    /* height: 300px; */
    background-color: rgb(58, 57, 57);
    height: 30px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;

}

#ch{
    position: relative;
    top: 5px;
    color: white;
}

#ch2{
    position: relative;
    display: flex;
    flex-direction: row;
    color: white;
    width: 300px;
    justify-content: space-between;
    bottom: 15px;
}

#ch3{
    color: white;
    position: relative;
    top: 5px;

}