#parent{
    height: 400px;
    width: 400px;
    transition: 3s;
    position: relative;
    transform-style: preserve-3d;
    margin: 50px auto;
}
#child2{
    height: 400px;
    width: 400px;
    background-color: rgb(9, 9, 51);
    color: white;
    position: absolute;
    transform: rotateY(180deg);
}
#child{
    position: absolute;
    z-index: 1;
    backface-visibility: hidden;
}

#parent:hover{
    transform: rotateY(180deg);
}
